[bot]
token = <bot_token>
playing = u mom lel

[csv]
point_of_interests = ../data/gyms_stops.csv

[database]
use_database = True
host = localhost
database = db_name
user = user_name
password = password
port = 3306

[geofences]
use_geofences = True
geofences = ["config/geofence1.txt", "config/geofence2.txt"]
channels = [12321425124, 12321425124]